In [1]:
import pandas as pd

In [2]:
estadios = pd.read_excel("datos/Estadios.xlsx")
estadios.head(10)

,Estadio,Ciudad,Año,Aforo,Equipo
0,Camp Nou,Barcelona,1957,99354,F. C. Barcelona
1,Santiago Bernabéu,Madrid,1947,99354,Real Madrid C. F.
2,Estadio Metropolitano,Madrid,2017,99354,Atlético de Madrid
3,Benito Villamarín,Sevilla,1929,99354,Real Betis Balompié
4,Olímpico Lluís Companys,Barcelona,1929,99354,Desocupado
5,La Cartuja,Santiponce y Sevilla,1997,99354,Selección española
6,San Mamés,Bilbao,2013,99354,Athletic Club
7,Mestalla,Valencia,1923,99354,Valencia C. F.
8,Ramón Sánchez-Pizjuán,Sevilla,1958,99354,Sevilla FC
9,RCDE Stadium,Cornellà de Llobregat,2009,99354,RCD Espanyol

In [3]:
estadios.to_csv("data/df_estadios.csv", index=False)